In [15]:
# =============================================================================
# Workshop: Advanced Pandas Retail Chain Performance Analysis
# =============================================================================
# Import required libraries
import pandas as pd  # Main library for data manipulation and analysis
# Load the three datasets using pd.read_csv()
# This function reads CSV files and converts them into pandas DataFrames
customers = pd.read_csv('22_5/customers_wk9_thurs.csv')
products = pd.read_csv('22_5/products_wk9_thurs.csv')
sales = pd.read_csv('22_5/sales_wk9_thurs.csv')
# Display basic information about what we've loaded
# len() gives us the number of rows in each DataFrame
print(f"‚úÖ Successfully loaded:")
print(f"   - {len(customers)} customers")      # Total number of customer records
print(f"   - {len(products)} products")        # Total number of products in catalog
print(f"   - {len(sales)} sales transactions") # Total number of sales transactions

# Display the first few rows of each dataset to understand the structure
# .head(n) shows the first n rows of a DataFrame - useful for data exploration
print(f"\nüëÄ First few rows of each dataset:")
print(f"\nCustomers:")
print(customers.head(3))  # Show first 3 rows of customer data
print(f"\nProducts:")
print(products.head(3))   # Show first 3 rows of product data
print(f"\nSales:")
print(sales.head(3))      # Show first 3 rows of sales data

‚úÖ Successfully loaded:
   - 100 customers
   - 60 products
   - 150 sales transactions

üëÄ First few rows of each dataset:

Customers:
   customer_id first_name last_name  age state  income registration_date  \
0            1       John     Smith   34    CA   75000        2022-01-15
1            2      Sarah   Johnson   28    NY   82000        2022-01-22
2            3    Michael     Brown   45    TX   95000        2022-02-03

                     email
0     john.smith@email.com
1  sarah.johnson@email.com
2  michael.brown@email.com

Products:
   product_id                   product_name       category  price  \
0           1  Wireless Bluetooth Headphones    Electronics  79.99
1           2         Organic Cotton T-Shirt       Clothing  24.99
2           3   Stainless Steel Water Bottle  Home & Garden  19.99

  launch_date      brand
0  2021-03-15  AudioTech
1  2021-04-20    EcoWear
2  2021-05-10  HydroLife

Sales:
   sale_id  customer_id  product_id     transaction_date  quantity  \
0        1            1           1  2022-02-10 14:30:00         1
1        2            2           3  2022-02-15 10:15:00         2
2        3            3           5  2022-02-20 16:45:00         1

   total_amount
0         79.99
1         39.98
2         34.99

In [17]:
# =============================================================================
# PART 1: DATETIME OPERATIONS
# =============================================================================
# DateTime operations are crucial for time-based analysis in business data
# We'll convert text dates to proper datetime objects and extract useful components

print("\n" + "=" * 60)
print("PART 1: DATETIME OPERATIONS")
print("=" * 60)

print("\nüïê 1.1 Converting and Working with Dates")

# Convert date columns from strings to pandas datetime objects
# pd.to_datetime() is the main function for converting various date formats
# Once converted, we can perform date arithmetic and extract components
print("Converting date columns to datetime...")
# YOUR CODE HERE
customers['registration_date'] = pd.to_datetime(customers['registration_date']) 
products['launch_date_new'] = pd.to_datetime(products['launch_date']) 
sales['transaction_date'] = pd.to_datetime(sales['transaction_date']) 

print("‚úÖ All date columns converted successfully")

============================================================
PART 1: DATETIME OPERATIONS
============================================================

üïê 1.1 Converting and Working with Dates
Converting date columns to datetime...
‚úÖ All date columns converted successfully

In [18]:
# Extract useful components from datetime objects using the .dt accessor
# The .dt accessor gives us access to datetime-specific methods and properties
print("\nExtracting datetime components...")   
# Extract year (2022, 2023, etc.)
sales['sales_year'] = sales['transaction_date'].dt.year
# Extract month number (1-12)
sales['sales_month'] = sales['transaction_date'].dt.month
# Day of week (Monday=0, Sunday=6)
sales['sales_day_of_week'] = sales['transaction_date'].dt.dayofweek
# Day name as text (Monday, Tuesday, etc.)
print("‚úÖ Extracted: year, month, day of week, and day name")

Extracting datetime components...
‚úÖ Extracted: year, month, day of week, and day name

In [19]:
sales.head(3)

,sale_id,customer_id,product_id,transaction_date,quantity,total_amount,sales_year,sales_month,sales_day_of_week
0,1,1,1,2022-02-10 14:30:00,1,79.99,2022,2,3
1,2,2,3,2022-02-15 10:15:00,2,39.98,2022,2,1
2,3,3,5,2022-02-20 16:45:00,1,34.99,2022,2,6

In [29]:
# Find the date range of our sales data by using min() and max()
# This helps us understand the time span our analysis covers
# YOUR CODE HERE
def sales_range(number):
    return { 
        "MIN DATE" : min(number) ,
        "MAX DATE" : max(number) , 
    }
print("\nüîç 1.2 Basic Time Analysis")
test_dates = sales['transaction_date']
stats = sales_range(test_dates)
print("SALES RANGE:", stats)

üîç 1.2 Basic Time Analysis
SALES RANGE: {'MIN DATE': Timestamp('2022-02-10 14:30:00'), 'MAX DATE': Timestamp('2024-03-05 10:30:00')}

In [31]:
# Find the busiest day of the week by counting transactions
# .value_counts() counts occurrences of each unique value
# Count transactions for each day name   
sales['sales_day_of_week'].value_counts()
# Get the day with most transactions (first in sorted list)
# Get the count for that day
sales['sales_day_of_week'].value_counts().head(1)

sales_day_of_week
4    24
Name: count, dtype: int64

In [33]:
# Count sales by year to see yearly trends  
# Count transactions by year, sort chronologically
print(f"\nSales by year:")
sales['sales_year'].value_counts().sort_index()

Sales by year:

sales_year
2022    65
2023    72
2024    13
Name: count, dtype: int64

In [ ]:
# =============================================================================
# PART 2: GROUPBY AND AGGREGATION
# =============================================================================
# GroupBy operations allow us to split data into groups and perform calculations
# on each group separately. This is essential for analyzing patterns and trends.

In [ ]:
# Group products by category and calculate average price for each category
# .groupby() splits the data into groups based on the 'category' column
# .mean() calculates the average for each group
# .round(2) rounds to 2 decimal places for currency formatting
# .sort_values(ascending=False) sorts from highest to lowest price
# Loop through each category and its average price             
# Format with dollar sign

In [41]:
# 1.1 Group products by category and calculate the average price for each category
products.groupby('category')['price'].mean()

category
Accessories           35.073333
Clothing              52.240000
Electronics           59.990000
Home & Garden         30.156667
Sports & Outdoors    105.899091
Name: price, dtype: float64

In [42]:
# 1.2 Find the most expensive product in each category
products.groupby('category')['price'].max()

category
Accessories           89.99
Clothing              99.99
Electronics          149.99
Home & Garden         49.99
Sports & Outdoors    249.99
Name: price, dtype: float64

In [43]:
# 1.3 Count how many products exist in each category
# .value_counts() counts occurrences of each unique category
products['category'].value_counts()

category
Electronics          13
Clothing             12
Home & Garden        12
Accessories          12
Sports & Outdoors    11
Name: count, dtype: int64

In [45]:
# 2.1 Group customers by state and calculate average age
# This shows us the demographic profile of customers in different regions
customers.groupby('state')['age'].mean()

state
CA    34.10
FL    39.00
IL    37.25
NY    36.50
TX    38.30
Name: age, dtype: float64

In [46]:
# 2.2 Calculate total spending per customer (sum up all their purchases)
sales.groupby('customer_id')['total_amount'].sum()

customer_id
1     229.98
2     179.96
3     154.98
4     234.95
5     149.98
       ...
86     34.99
87     83.97
88    109.98
89     29.99
90    139.96
Name: total_amount, Length: 90, dtype: float64

In [47]:
# 2.3 Find customers with the most purchases (transaction frequency)
# .groupby().size() counts the number of transactions per customer
# This is different from sum() - it counts rows, not values
customer_purchase_counts = sales.groupby('customer_id').size().sort_values(ascending=False)
top_buyer_id = customer_purchase_counts.index[0]        # Customer ID with most purchases
top_buyer_purchases = customer_purchase_counts.iloc[0]  # Number of purchases by top customer
print(f"\nCustomer with most purchases: Customer #{top_buyer_id} ({top_buyer_purchases} purchases)")

Customer with most purchases: Customer #1 (2 purchases)

In [55]:
# 3.1 Compare total sales between different product categories
print('ERROR! NOTE: We could use merged')

ERROR! NOTE: We should use merged

In [49]:
# 3.2 Find which state has the most customers
customers.groupby('state')['customer_id'].sum().head(1)

state
CA    970
Name: customer_id, dtype: int64

In [53]:
# 3.3 Identify the top 5 customers by total spending
sales.groupby('customer_id')['total_amount'].sum().sort_values(ascending=False).head(5)

customer_id
31    379.97
13    359.96
41    329.98
84    319.98
30    284.98
Name: total_amount, dtype: float64

In [57]:
# 3.4 Determine which day of the week has the highest average transaction value
sales.groupby('sales_day_of_week')['total_amount'].mean().sort_values(ascending=False).head(1)

sales_day_of_week
3    102.267619
Name: total_amount, dtype: float64